@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@400;500;700&display=swap');

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Manrope", sans-serif;

  --color-primary: #735c00;
  --color-primary-container: #d4af37;
  --color-surface: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #d0c5af;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
